<h1>Киви Терминал {{.Title}}</h1>

<h2></h2>

<h2>Оплата мобильного оператора custom MTS </h2>

<h2>Введите номер</h2>

<input type="text" size="40" value="+7 909 222 333 44" />

<br/>
<br/>


<input type="submit" value="Next">