<h1><a href="/">Киви Терминал</a> {{.Title}}</h1>

<h2></h2>

<h2>Основные элементы</h2>

<table border="1" style="width:100%">
  <tr>
    <td><a href="/mobile/1">Мегафон</a></td>
    <td><a href="/mobile/2">MTS</a></td>
    <td><a href="/mobile/3">Beeline</a></td>
  </tr>
</table>

<br/>
<br/>

<h2>Экран провайдеров</h2>

<table border="1" style="width:100%">
  <tr>
    <td><a href="/mobile/1">Мегафон</a></td>
    <td><a href="/mobile/2">MTS</a></td>
    <td><a href="/mobile/3">Beeline</a></td>
  </tr>
  <tr>
    <td><a href="/mobile/1">Мегафон</a></td>
    <td><a href="/mobile/2">MTS</a></td>
    <td><a href="/mobile/3">Beeline</a></td>
  </tr>
  <tr>
    <td><a href="/mobile/1">Мегафон</a></td>
    <td><a href="/mobile/2">MTS</a></td>
    <td><a href="/mobile/3">Beeline</a></td>
  </tr>
</table>

<p align="center">
Pages: <a href="/index/1">1</a> <a href="/index/2">2</a> <a href="/index/3">3</a>
</p>