<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Demo</title>
</head>
<body>
  <script src="/js/js.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

    <script>
 
  function next1() {
    $( "div.page1" ).hide();
    $( "div.page2" ).show();
  }
  function prev2() {
    $( "div.page1" ).show();
    $( "div.page2" ).hide();
  }
  function next2() {
    $( "div.page2" ).hide();
    $( "div.page3" ).show();
  }
  function next3() {
    var q = core.service("Qiwi")
    q.payment("mobile/3", 15)
  }
 
    </script>
    
    <h1> <a href="/">Киви Терминал</a> {{.Title}}</h1>

    <h2></h2>




<div class="page1">
    <h2>Оплата мобильного оператора</h2>

    <h2>Введите номер</h2>

    <input type="text" size="40" value="+7 909 222 333 44" />

<br/>
<br/>

    <input type="submit" value="Next" onclick="next1()">

</div>






    <div class="page2" style="display: none;">
        <h2>Оплата мобильного оператора</h2>

        <h2>Подтвердите номер, внесите деньги ДЕНЬГИ деееньги</h2>

        <input type="text" size="40" value="+7 909 222 333 44" />

    <br/>

        <input type="text" size="40" value="40 рублей" />

    <br/>
    <br/>

        <input type="submit" value="Prev" onclick="prev2()">
        <input type="submit" value="Next" onclick="next2()">

    </div>





    <div class="page3" style="display: none;">
        <h2>Оплата мобильного оператора</h2>

        <h2>оплата успешна</h2>

    <br/>
    <br/>

        <input type="submit" value="Done" onclick="next3()">

    </div>
    
</body>
</html>